.AccountsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 550px;
    padding: 10px;
    color: var(--Background);
    flex-wrap: wrap; 
    background-color: var(--Gray_font2);
    border-radius: 6px;
    color: var(--White);
    margin: 10px;
}

.AccountsList h4 {
    color: var(--White);
}

.AccountsList .informationAccount {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--Background2);
    overflow-y: scroll;
    width: 90%;
    border-radius: 6px;
    height: 90%;
}

.AccountsList .informationAccount .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 10px 0;
}

.AccountsList .informationAccount .search .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
}

.AccountsList .informationAccount .search .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0 10px;
    background-color: var(--Primary);
    color: var(--White);
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    border: none;
}
.AccountsList .informationAccount .search .buttons .selected {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin:0 10px;
    background-color: var(--White);
    color: var(--Primary);
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    border: none;
}

.AccountsList .informationAccount .search input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--Black);
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    border: none;
}

.AccountsList .informationAccount::-webkit-scrollbar {
    width: 12px;              
  }
  
 .AccountsList .informationAccount::-webkit-scrollbar-track {
    background: var(--Background2);      
  }
  
 .AccountsList .informationAccount::-webkit-scrollbar-thumb {
    background-color: var(--Black);   
    border-radius: 20px;      
    border: 3px solid var(--Background2); 
  }

.AccountsList .informationAccount .account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 2px;
    border-radius: 6px;
    background-color: rgb(19, 19, 19);
    padding: 5px;
}

.AccountsList .informationAccount .account .name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.AccountsList .informationAccount .account .name h4 {
    font-weight: 700;
    margin: 5px 0 0 0;
}
.AccountsList .informationAccount .account .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5px 0;

}
.AccountsList .informationAccount .account .buttons2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5px 0;
    width:100%;
}

.AccountsList .informationAccount .account .buttons .promote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: blue;
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin: 3px 3px;
    font-weight: 700;
    width: 80px;
    height: 30px;
}
.AccountsList .informationAccount .account .buttons .AccountsListed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(201, 188, 0);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin: 3px 3px;
    font-weight: 700;
    width: 80px;
    height: 30px;
}
.AccountsList .informationAccount .account .buttons .banned{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin: 3px 3px;
    font-weight: 700;
    width: 80px;
    height: 30px;
}
.AccountsList .informationAccount .account .buttons2 .banned2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin: 3px 3px;
    font-weight: 700;
    width: 80%;
    height: 30px;
}
.AccountsList .informationAccount .account .buttons2 .promote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: blue;
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin: 3px 3px;
    font-weight: 700;
    width: 80%;
    height: 30px;
}