.preferencesForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.preferencesForm .title {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
}

.preferencesForm .title img {
    width: 150px;
}

.preferencesForm form {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.preferencesForm form .data {
    width: 100%;
    color: blanchedalmond;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.preferencesForm form .data .search {
    margin: 5px;
    font-size: 18px;
    padding: 5px;
}

.preferencesForm form .data .search input[type="checkbox"] {
    width: 50px;
    background-color: cadetblue;
}


.preferencesForm form .confirmation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.preferencesForm form .confirmation button {
    width: 150px;
    padding: 10px 5px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: var(--White);
    color: var(--Primary);
}

.preferencesForm form .confirmation .confirmation_preferencesForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
}

.preferencesForm form .confirmation .confirmation_preferencesForm span {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .preferencesForm .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: var(--White);
        margin-bottom: 20px;
    }

    .preferencesForm .title img{
        margin-bottom: 20px;
    }

    .preferencesForm form .confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }

    .preferencesForm form .confirmation button{
        margin-top: 20px;
    }
}