.content-chat {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--Background);
    position: fixed;
    top: 0;
    right: 0;
    overflow:auto;
    z-index: 3;
}

.content-chat::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .content-chat::-webkit-scrollbar-track {
    background: var(--Background2);        /* color of the tracking area */
  }
  
  .content-chat::-webkit-scrollbar-thumb {
    background-color: var(--Background-man);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--Background2);  /* creates padding around scroll thumb */
  }

.content-chat .chat-avatar {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 5px 0;
}

.content-chat .chat-avatar img {
    width: 35px;
}

@media (max-width: 900px) {
  .content-chat {
    display: none;
  }
}