.characteristcsForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.characteristcsForm .title {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
}

.characteristcsForm .title img {
    width: 150px;
}


.characteristcsForm form{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.characteristcsForm form .data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 20px ;
}

.characteristcsForm form .data .data-form span {
    color: var(--White);
    font-weight: 600;
}


.characteristcsForm form .data input {
    width: 48%;
    font-size: 14px;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid var(--White);
    background-color: var(--Primary);
    color: var(--White);
    margin: 4px;
}

.characteristcsForm form .data select {
    width: 48%;
    font-size: 14px;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid var(--White);
    background-color: var(--Primary);
    color: var(--White);
    margin: 4px;
}

.characteristcsForm form .data input::placeholder {
    color: var(--White);
}

.characteristcsForm form .confirmation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.characteristcsForm form .confirmation button {
    width: 150px;
    padding: 10px 5px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: var(--White);
    color: var(--Primary);
}

.characteristcsForm form .confirmation .confirmation_characteristcsForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
}

.characteristcsForm form .confirmation .confirmation_characteristcsForm span {
    margin-left: 10px;
}


@media (max-width: 700px) {
    .characteristcsForm {
        padding: 2px;
    }

    .characteristcsForm form{
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .characteristcsForm form .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .characteristcsForm form .data input {
        width: 95%;
    }
    
    .characteristcsForm form .data select {
        width: 95%;
    }

    @media (max-width: 700px) {
        .characteristcsForm form .confirmation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        }
        
        .characteristcsForm form .confirmation button {
           margin-top: 20px;
        }

        .characteristcsForm .title {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: var(--White);
        }
        
        .characteristcsForm .title img {
            width: 150px;
            margin-bottom: 20px;
        }
    }
    
}