.topBar {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
    padding: 10px 40px;
}

.topBar .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.topBar .image img {
    height: 35px;
}

.topBar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.topBar .menu a {
    text-decoration: none;
    color: var(--Background);
    margin: 0 10px;
}
.topBar .menu button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 6px;
    background-color:crimson;
    color: aliceblue;
    padding: 5px 10px;
}