.topBar {
    border: none;
    border-bottom: 1px solid var(--Background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
}

.topBar .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.topBar .image img {
    height: 45px;
}

.topBar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.topBar .menu a {
    text-decoration: none;
    color: var(--Background);
    margin: 0 5px;
}