.content-profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.content-profile .profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-profile .profile .main {
    background-color: var(--Background2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 80px;
}

.content-profile .profile .main .section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.content-profile .profile .main .section .cover {
    width: 100%;
}

.content-profile .profile .main .section .cover img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.content-profile .profile .main .section .cover .mark{
    width: 100%;
    height: 200px;
    position: absolute;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-profile .profile .main .section .cover .mark .black{
    color: rgba(0, 0, 0, 0.036);
    margin: 2px;
    font-weight: 500;
}
.content-profile .profile .main .section .cover .mark .white{
    color: rgba(255, 255, 255, 0.036);
    margin: 2px;
    font-weight: 500;
}

.content-profile .profile .main .section .profile-tools {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--Background2);
    padding: 0 50px;
    margin-top: -4px;
    border: 1px solid var(--Background);
}

.content-profile .profile .main .section .profile-tools .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--Primary);
}

.content-profile .profile .main .section .profile-tools .user .user-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--Primary);
    border-radius: 15px;
    margin-top: -150px;
    margin-bottom: 10px;
}

.content-profile .profile .main .section .profile-tools .user .user-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top:0px;
}

.content-profile .profile .main .section .profile-tools .user .user-img .mark{
    width: 200px;
    height: 200px;
    position: absolute;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-profile .profile .main .section .profile-tools .user .user-img .mark .black{
    color: rgba(0, 0, 0, 0.036);
    margin: 2px;
    font-weight: 500;
}
.content-profile .profile .main .section .profile-tools .user .user-img .mark .white{
    color: rgba(255, 255, 255, 0.036);
    margin: 2px;
    font-weight: 500;
}

.content-profile .profile .main .section .profile-tools .tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    height: 100%;
    padding: 10px;

}

.content-profile .profile .main .section .profile-tools .tools .select  {
    width: 55px;
    height: 55px;
    color: var(--White);
    border: none;
    border-radius: 8px;
}

.content-profile .profile .main .section .profile-tools .tools button {
    width: 55px;
    height: 55px;
    background-color: var(--Background);
    color: var(--Primary);
    border: none;
    border-radius: 8px;
    margin-left: 35px;
}

.content-profile .profile .main .section .profile-tools .tools .settings {
    width: 55px;
    height: 55px;
    background-color: var(--White);
    color: var(--Primary);
    border: none;
    border-radius: 8px;
}

.content-profile .profile .main .section .sections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}



.content-profile .profile .main .section .sections .feed {
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--Primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.content-profile .profile .main .section .sections .feed .friends {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-profile .profile .main .section .sections .feed .friends .listFriendsMap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0px 20px 0px;
}

.content-profile .profile .main .section .sections .infos {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--Background);
}


.content-profile .profile .main .section .sections .infos .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    padding: 10px 5px;

}

.content-profile .profile .main .section .sections .infos .info .name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.content-profile .profile .main .section .sections .infos .info .name h3 {
    color: var(--Primary);
}

.content-profile .profile .main .section .sections .infos .info .name h6 {
    color: var(--Gray_font2);
}



.content-profile .profile .main .section .sections .infos .info .info-user-man {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 6px;
    background-color: var(--Background-man);
    margin: 15px 5px;
    flex-wrap: wrap;
    width: 280px;
    padding: 5px;
}

.content-profile .profile .main .section .sections .infos .info-user-man h4 {
    z-index: 99;
    position: absolute;
    margin-bottom: 40px;
}

.content-profile .profile .main .section .sections .infos .info-user-man h4 svg {
    color: var(--Primary);
}


.content-profile .profile .main .section .sections .infos .info .info-user-man .info-user-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2px;
    width: 90px;
    text-align: center;
}

.content-profile .profile .main .section .sections .infos .info .info-user-man .info-user-data h5 {
    color: var(--Primary);
}

.content-profile .profile .main .section .sections .infos .info .info-user-man .info-user-data p {
    color: var(--Gray_font2);
}

.content-profile .profile .main .section .sections .infos .info .info-user-woman {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 6px;
    margin: 15px 5px;
    flex-wrap: wrap;
    width: 280px;
    padding: 2px;
    background-color: var(--Background-woman);
}

.content-profile .profile .main .section .sections .infos .info-user-woman h4 {
    z-index: 99;
    position: absolute;
    margin-bottom: 40px;
}

.content-profile .profile .main .section .sections .infos .info-user-woman h4 svg {
    color: var(--Primary);
}

.content-profile .profile .main .section .sections .infos .info .info-user-woman .info-user-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2px;
    width: 90px;
    text-align: center;
}

.content-profile .profile .main .section .sections .infos .info .info-user-woman .info-user-data h5 {
    color: var(--Primary);
}

.content-profile .profile .main .section .sections .infos .info .info-user-woman .info-user-data p {
    color: var(--Gray_font2);
}

.content-profile .profile .main .section .sections .infos .info .info-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content-profile .profile .main .section .sections .infos .info .info-social .info-social-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

.content-profile .profile .main .section .sections .infos .info .info-social .info-social-data h5 {
    color: var(--Primary);
}

.content-profile .profile .main .section .sections .infos .info .info-social .info-social-data p {
    color: var(--Gray_font2);
}


.content-profile .profile .main .section .sections .infos .photos{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--Background);
    margin: 10px 10px 0 10px;
    padding: 5px;
    border-radius: 8px;
}

.content-profile .profile .main .section .sections .infos .photos button {
    color: var(--Primary);
    background-color: var(--Background);
    border: none;
    border-bottom: 2px solid var(--Primary);
    margin: 5px 0 0 10px;
    font-size: 14px;
}

.content-profile .profile .main .section .sections .infos .photos .images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.content-profile .profile .main .section .sections .infos .photos .images .photos-list {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin: 5px;
    
}

.content-profile .profile .main .section .sections .infos .photos .images img {
    height: 100%;
    object-fit: cover;

}


@media (max-width: 1130px) {
    .content-profile .profile .main .section .sections .feed {
        width: 100%;
        align-items: flex-start;
        padding: 20px 20px;
    }

    
@media (max-width: 1060px) {
    .content-profile .profile .main .section .sections .feed {
        width: 80%;
        align-items: flex-start;
        padding: 20px 20px;
    }
}

    
@media (max-width: 970px) {
    .content-profile .profile .main .section .sections .feed {
        width: 75%;
        align-items: flex-start;
        padding: 20px 20px;
    }
}

    
    @media (max-width: 900px) {
        .content-profile .profile .main {
            padding: 40px 0;
        }
        .content-profile .profile .main .section .sections .feed {
            width: 90%;
            align-items: center;
            padding: 20px 20px;
        }
        .content-profile .profile .main .section .profile-tools {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: var(--Background2);
            padding: 0 50px;
            margin-top: -4px;
            border: 1px solid var(--Background);
        }

        .content-profile .profile .main .section .sections {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 70px;
        }

        .content-profile .profile .main .section .sections .infos {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: var(--Background2);
            border: 1px solid var(--Background);
        }

        .content-profile .profile .main .section .sections .infos .photos {
            display: none;
        }

        .content-profile .profile .main .section .profile-tools .tools {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        
        }

        .content-profile .profile .main .section .profile-tools .tools button {
            padding: 10px 20px;
            background-color: var(--Background);
            color: var(--Primary);
            border: none;
            border-radius: 8px;
        }




        @media (max-width: 700px) {
            .content-profile .profile .main .section .profile-tools .tools button {
                padding: 8px 16px;
            }

            .content-profile .profile .main .section .sections .feed {
                width: 90%;
                align-items: center;
                padding: 20px 20px;
            } 



            
        @media (max-width: 650px) {

            .content-profile .profile .main .section .profile-tools .tools {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                height: 100%;
            
            }
            .content-profile .profile .main .section .profile-tools .tools button {
                padding: 6px 14px;
                margin: 10px;
            }

            .content-profile .profile .main .section .cover img {
                height: 150px;
                
            }

            
            .content-profile .profile .main .section .cover .mark {
                height: 150px;
                
            }

            .content-profile .profile .main .section .profile-tools .user img {
                width: 150px;
                height: 150px;
                border: 2px solid var(--White);
                border-radius: 15px;
                margin-top: -120px;
                margin-bottom: 10px;
            }

            .content-profile .profile .main .section .profile-tools .user .user-img .mark {
                width: 150px;
                height: 150px;
            }






            @media (max-width: 550px) {
                .content-profile .profile .main .section .profile-tools {
                    padding: 0px;
                    height: 130px;
                }

                .content-profile .profile .main .section .profile-tools .tools {
                    flex-wrap: wrap;
                    width: 100%;
                    font-size: 10px;
                }

                .content-profile .profile .main .section .profile-tools .tools button {
                    padding: 4px 10px;
                    margin: 10px;
                    font-size: 10px;
                }

                .content-profile .profile .main .section .sections {
                    margin-top: 140px;
                }

                .content-profile .profile .main .section .sections .feed {
                    width: 100%;
                    align-items: center;
                    padding: 5px 5px;
                } 
            }
     }
    }
}
}


