.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    height: 370px;
    padding: 10px;
    color: var(--Background);
    flex-wrap: wrap; 
    background-color: black;
    border-radius: 6px;
    color: var(--Background);
}

.block h4 {
    color: var(--Background);
}


.block .informationVideo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: var(--Background);
    overflow-y: scroll;
    width: 90%;
    background-color: black;
    border-radius: 6px;
    height: 90%;
}

.block .informationVideo::-webkit-scrollbar {
    width: 12px;              
  }
  
 .block .informationVideo::-webkit-scrollbar-track {
    background: var(--Background2);      
  }
  
 .block .informationVideo::-webkit-scrollbar-thumb {
    background-color: var(--Black);   
    border-radius: 20px;      
    border: 3px solid var(--Background2); 
  }

.block .informationVideo .videos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 95%;
    background-color: rgb(19, 19, 19);
    margin: 5px 0;
    padding: 10px;
    border-radius: 6px;
}

.block .informationVideo .videos h4{
    margin: 10px;
    font-weight: 900;
}

.block .informationVideo .videos .video{
    object-fit: contain;
    width: 300px;
    height: 300px;
}

.block .informationVideo .videos .video video{
    width: 95%;
    object-fit: contain;
    width: 300px;
    height: 300px;
}

.block .informationVideo .videos button {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    margin: 10px 0 0 0;
}
