.feedComponents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 20px 0;

}
.feedComponents .feedComponents-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

.feedComponents .feedComponents-posts .postIndividual{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: var(--Background);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: aliceblue;
    margin: 10px 0;

}

.feedComponents .feedComponents-posts .postIndividual .buttons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.feedComponents .feedComponents-posts .postIndividual .buttons button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: red;
    padding:10px;
    border-radius: 6px;
    margin: 10px 0;
    border:none;
    color: var(--white);
    font-weight: 700;
}

.feedComponents .feedComponents-posts .postIndividual .media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 10px;
}
.feedComponents .feedComponents-posts .postIndividual .media .postText{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    text-align: left;
    margin: 10px 0;
    color: var(--white);
}



.feedComponents .feedComponents-posts .postIndividual .media .image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.feedComponents .feedComponents-posts .postIndividual .media .image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.feedComponents .feedComponents-posts .postIndividual .media .movie {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.feedComponents .feedComponents-posts .postIndividual .media .movie video {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 600px) {

    .feedComponents {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
    
    }

    .feedComponents .feedComponents-posts .postIndividual{
        width: 90%;
    
    }
    .feedComponents .feedComponents-posts .postIndividual .media .image {
        width: 250px;
        height: 250px;
        object-fit: cover;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    }
    .feedComponents .feedComponents-posts .postIndividual .media .image img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    
    
    .feedComponents .feedComponents-posts .postIndividual .media .movie {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .feedComponents .feedComponents-posts .postIndividual .media .movie video {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}




