.PaymentsNumbers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    height: 370px;
    padding: 20px;
    color: var(--Background);
    flex-wrap: wrap; 
    background-color: var(--Gray_font2);
    border-radius: 6px;
    color: var(--White);
    margin: 10px;
}

.PaymentsNumbers .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    background-color: blue;
    margin:10px 0;
}
.PaymentsNumbers .text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(201, 188, 0);
    margin:10px 0;
}
.PaymentsNumbers .text3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    background-color: green;
    margin:10px 0;
}
.PaymentsNumbers .text4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    background-color: red;
    margin:10px 0;
}

.PaymentsNumbers h5 {
    text-align: center;
    width: 90%;
    padding: 5px;
    border-radius: 6px;
    background-color: black;
    margin:10px 0;
}
