.feedPostIndividual2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin-top: 20px;
}

.feedPostIndividual2 .posts-feed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.feedPostIndividual2 .posts-feed .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    width: 100%;
}

.feedPostIndividual2 .posts-feed .buttons button {
    padding: 5px;
    width: 120px;
    border: none;
    border-bottom: 1px solid var(--Gray-Border);
    background-color: var(--Background2);
}

.feedPostIndividual2 .posts-feed .buttons .selected {
    border-bottom: 2px solid var(--Primary);
    color: var(--Primary);
}

.feedPostIndividual2 .posts-feed .feed-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: var(--Gray_font2);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 0;
    margin: 10px 0;
}

.feedPostIndividual2 .posts-feed .feed-post .post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

.feedPostIndividual2 .posts-feed .feed-post .post-user img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.feedPostIndividual2 .posts-feed .feed-post .post-user .name-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.feedPostIndividual2 .posts-feed .feed-post .post-user .name-data .selected {
    color: var(--Primary) ;
}

.feedPostIndividual2 .posts-feed .feed-post .post-data {
    margin: 5px 0;
    width: 90%;
}

.feedPostIndividual2 .posts-feed .feed-post .post-data-media {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedPostIndividual2 .posts-feed .feed-post .post-data-media .image{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}



.feedPostIndividual2 .posts-feed .feed-post .post-data-media .image img{
    width: 400px;
    height: 400px;
     object-fit: cover;
 }

.feedPostIndividual2 .posts-feed .feed-post .post-data-media .image .mark{
    width: 400px;
    height: 400px;
    position: absolute;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video .mark{
    width: 400px;
    height: 400px;
    position: absolute;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.feedPostIndividual2 .posts-feed .feed-post .post-data-media .mark .black{
    color: rgba(0, 0, 0, 0.036);
    margin: 2px;
    font-weight: 500;
}
.feedPostIndividual2 .posts-feed .feed-post .post-data-media .mark .white{
    color: rgba(255, 255, 255, 0.036);
    margin: 2px;
    font-weight: 500;
}

.feedPostIndividual2 .posts-feed .feed-post .post-data-media video{
    margin-left: 0 auto;
    margin-right: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.feedPostIndividual2 .posts-feed .feed-post .post-data-media img{
    margin-left: 0 auto;
    margin-right: 0 auto;
     width: 80%;
 }
 

.feedPostIndividual2 .posts-feed .feed-post .post-data p {
    font-size: 18px;
}

.feedPostIndividual2 .posts-feed .feed-post .reactions2-individual {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

.feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button {
    background-color: var(--Background2);
    border: none;
    color: var(--Gray_font2);
    font-size: 16px;
    
}

.feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button svg {
    margin-right: 5px;
}

.feedPostIndividual2 .posts-feed .feed-post .reactions2-individual .selected{
    color: var(--Primary);   
}

.feedPostIndividual2 .posts-feed .feed-post .comment {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


.feedPostIndividual2 .posts-feed .feed-pos .commentHidden {
    display: none;
}


@media (max-width: 900px) {
    .feedPostIndividual2 {
        width: 100%;
    }

    .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button svg {
        margin-right: 0px;
    }

    .feedPostIndividual2 .posts-feed .feed-post .post-data-media video{
        margin-left: 0 auto;
        margin-right: 0 auto;
         width: 90%;
     }
     
    

    @media (max-width: 750px) {
        .feedPostIndividual2 {
            width: 100%;
        }

        .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual {
            width: 80%;
        }

        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image{
            width: 350px;
            height: 350px;
        }
        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video{
            width: 350px;
            height: 350px;
        }
        
        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image img{
            width: 350px;
            height: 350px;
         }
        
        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image .mark{
            width: 350px;
            height: 350px;

        }
        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video .mark{
            width: 350px;
            height: 350px;

        }
          



        @media (max-width: 600px) {
            .feedPostIndividual2 {
                width: 100%;
            }
    
            .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual {
                width: 90%;
            }


                .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image{
            width: 350px;
            height: 350px;
        }
        

                .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video{
            width: 350px;
            height: 350px;
        }
        
        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image img{
            width: 350px;
            height: 350px;
         }
        
        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image .mark{
            width: 350px;
            height: 350px;

        }
        .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video .mark{
            width: 350px;
            height: 350px;

        }
          
        }


        

        @media (max-width: 550px) {
            .feedPostIndividual2 {
                width: 100%;
            }

            .feedPostIndividual2 .posts-feed .buttons {
                flex-wrap: wrap;
            }

            .feedPostIndividual2 .posts-feed .buttons button {
                width: 80px;
            }

            .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual {
                width: 80%;
            }
            .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button {
                font-size: 14px;
            }

            
        @media (max-width: 500px) {
            .feedPostIndividual2 {
                width: 100%;
            }

            .feedPostIndividual2 .posts-feed .buttons {
                width: 100%;
                flex-wrap: wrap;
            }

            .feedPostIndividual2 .posts-feed .buttons button {
                width: 110px;
            }

            .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual {
                width: 90%;

            }
            .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button {
                font-size: 14px;
                margin: 2px 3px;
            }

            .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button svg {
                margin-right: 2px;
            }

            .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image{
                width: 350px;
                height: 350px;
            }
            .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video{
                width: 350px;
                height: 350px;
            }
            
            .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image img{
                width: 350px;
                height: 350px;
             }
            
            .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image .mark{
                width: 350px;
                height: 350px;
    
            }
            .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video .mark{
                width: 350px;
                height: 350px;
    
            }
              

                @media(max-width: 450px) {
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image{
                        width: 300px;
                        height: 300px;
                    }
                    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video{
                        width: 300px;
                        height: 300px;
                    }
                    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image img{
                        width: 300px;
                        height: 300px;
                     }
                    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image .mark{
                        width: 300px;
                        height: 300px;
            
                    }
                    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video .mark{
                        width: 300px;
                        height: 300px;
            
                    }
                      
               

            @media (max-width: 400px) {
                .feedPostIndividual2 {
                    width: 100%;
                    margin-left: 3px;
                }
    
                .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual {
                    width: 100%;
                    margin-left: -22px;
                }
                .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button {
                    font-size: 12px;
                    margin: 2px 5px;
                }

                .feedPostIndividual2 .posts-feed .feed-post .post-data-media {
                    width: 85%;
                }

                @media (max-width: 380px) {
                    .feedPostIndividual2 {
                        width: 100%;
                        margin-left: 3px;
                    }
        
                    .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual {
                        width: 100%;
                        margin-left: 0px;
                    }
                    .feedPostIndividual2 .posts-feed .feed-post .reactions2-individual button {
                        font-size: 12px;
                        margin: 2px 5px;
                    }
    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media {
                        width: 85%;
                    }

                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image{
                        width: 250px;
                        height: 250px;
                    }
                    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video{
                        width: 250px;
                        height: 250px;
                    }
                    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image img{
                        width: 250px;
                        height: 250px;
                     }
                    
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image .mark{
                        width: 250px;
                        height: 250px;
            
                    }
                    .feedPostIndividual2 .posts-feed .feed-post .post-data-media .image-video .mark{
                        width: 250px;
                        height: 250px;
            
                    }
                      


    
                }
            }
                
        }
     }
    }
}
   }