.invitesList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 60px 0;
    flex-wrap: wrap;
}
.invitesList  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 10px 0;
}

.invitesList  .search input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--Black);
    width: 70%;
    border-radius: 6px;
    padding: 10px;
    border: none;
}


.invitesList .invitListAll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    padding: 10px 0;
    flex-wrap: wrap;
}
.invitesList .invitListAll .invitesUnic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: var(--Primary);
    color: var(--White);
    border-radius: 6px;
}
.invitesList .invitListAll .invitesUnic .codes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.invitesList .invitListAll .invitesUnic .codes h5{
    margin: 3px;
}
.invitesList .invitListAll .invitesUnic .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.invitesList .invitListAll .invitesUnic .buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: red;
    color: var(--White);
    border-radius: 6px;
    border:none;
    padding: 5px 10px;
    margin: 10px;
}