.dataUser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.dataUser .image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.dataUser .image img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.dataUser h4 {
    font-weight:900 ;
}