.feedPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin-top: 20px;
}

.feedPost .posts-feed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
}

.feedPost .posts-feed .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    width: 100%;
}

.feedPost .posts-feed .buttons button {
    padding: 5px;
    width: 120px;
    border: none;
    border-bottom: 1px solid var(--Gray-Border);
    background-color: var(--Background2);
}

.feedPost .posts-feed .buttons .selected {
    border-bottom: 2px solid var(--Primary);
    color: var(--Primary);
}

.feedPost .posts-feed .feed-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: var(--Gray_font2);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 0;
    margin: 10px 0;
}

.feedPost .posts-feed .feed-post .post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

.feedPost .posts-feed .feed-post .post-user a{
   text-decoration: none;
}
.feedPost .posts-feed .feed-post .post-user h4{
    font-weight: 500;
}

.feedPost .posts-feed .feed-post .post-user .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.feedPost .posts-feed .feed-post .post-user .avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.feedPost .posts-feed .feed-post .post-user .name-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.feedPost .posts-feed .feed-post .post-user .name-data .selected {
    color: var(--Primary) ;
}

.feedPost .posts-feed .feed-post .post-data {
    margin: 5px 0;
    width: 90%;
}

.feedPost .posts-feed .feed-post .post-data-media {
    margin: 5px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedPost .posts-feed .feed-post .post-data-media .image{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feedPost .posts-feed .feed-post .post-data-media .image-video{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}



.feedPost .posts-feed .feed-post .post-data-media .image img{
    width: 400px;
    height: 400px;
     object-fit: cover;
 }

.feedPost .posts-feed .feed-post .post-data-media .image .mark{
    width: 400px;
    height: 400px;
    position: absolute;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.feedPost .posts-feed .feed-post .post-data-media .image-video .mark{
    width: 400px;
    height: 400px;
    position: absolute;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.feedPost .posts-feed .feed-post .post-data-media .mark .black{
    color: rgba(0, 0, 0, 0.036);
    margin: 2px;
    font-weight: 500;
}
.feedPost .posts-feed .feed-post .post-data-media .mark .white{
    color: rgba(255, 255, 255, 0.036);
    margin: 2px;
    font-weight: 500;
}


.feedPost .posts-feed .feed-post .post-data-media h1 {
    color: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
    position: absolute;
}


.feedPost .posts-feed .feed-post .post-data-media video{
   margin-left: 0 auto;
   margin-right: 0 auto;
   height: 100%;
   width: 100%;
   object-fit: contain;
}


 

.feedPost .posts-feed .feed-post .post-data p {
    color: var(--Gray_font);
    font-weight: 500;
    font-size: 18px;
}

.feedPost .posts-feed .feed-post .reactions {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 7px 0;
}

.feedPost .posts-feed .feed-post .reactions button {
    background-color: var(--Background2);
    border: none;
    font-size: 15px;
    color: var(--Gray_font2);
    padding: 0 10px;
    
}

.feedPost .posts-feed .feed-post .reactions button svg {
    margin-right: 3px;
}

.feedPost .posts-feed .feed-post .reactions .selected{
    color: var(--Primary);   
}

.feed-post .comment {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.feed-post .commentHidden {
    display: none;
}




@media (max-width: 1200px) {
    .feedPost .posts-feed .feed-post .reactions {
        width: 95%;
    }

    @media (max-width: 1000px) {
        .feedPost .posts-feed .feed-post .reactions button {
            font-size: 16px;
        }

@media (max-width: 900px) {
    .feedPost {
        width: 100%;
    }

    .feedPost .posts-feed .feed-post .reactions button svg {
        margin-right: 0px;
    }

    .feedPost .posts-feed .feed-post .post-data-media video{
        margin-left: 0 auto;
        margin-right: 0 auto;
         width: 90%;
     }
     
    

    @media (max-width: 750px) {
        .feedPost {
            width: 100%;
        }

        .feedPost .posts-feed .feed-post .reactions {
            width: 90%;
        }

        .feedPost .posts-feed .feed-post .post-data-media .image{
            width: 350px;
            height: 350px;
        }
        .feedPost .posts-feed .feed-post .post-data-media .image-video{
            width: 350px;
            height: 350px;
        }
        
        .feedPost .posts-feed .feed-post .post-data-media .image img{
            width: 350px;
            height: 350px;
         }
        
        .feedPost .posts-feed .feed-post .post-data-media .image .mark{
            width: 350px;
            height: 350px;

        }
          
        .feedPost .posts-feed .feed-post .post-data-media .image-video .mark{
            width: 350px;
            height: 350px;

        }
          



        @media (max-width: 600px) {
            .feedPost {
                width: 100%;
            }
    
            .feedPost .posts-feed .feed-post .reactions {
                width: 95%;
            }


                .feedPost .posts-feed .feed-post .post-data-media .image{
            width: 350px;
            height: 350px;
        }
                .feedPost .posts-feed .feed-post .post-data-media .image-video{
            width: 350px;
            height: 350px;
        }
        
        .feedPost .posts-feed .feed-post .post-data-media .image img{
            width: 350px;
            height: 350px;
         }
        
        .feedPost .posts-feed .feed-post .post-data-media .image .mark{
            width: 350px;
            height: 350px;

        }
        .feedPost .posts-feed .feed-post .post-data-media .image-video .mark{
            width: 350px;
            height: 350px;

        }
          
        }


        

        @media (max-width: 550px) {
            .feedPost {
                width: 100%;
            }

            .feedPost .posts-feed .buttons {
                flex-wrap: wrap;
            }

            .feedPost .posts-feed .buttons button {
                width: 80px;
            }

            .feedPost .posts-feed .feed-post .reactions {
                width: 100%;
            }
            .feedPost .posts-feed .feed-post .reactions button {
                font-size: 14px;
            }

            
        @media (max-width: 500px) {
            .feedPost {
                width: 100%;
            }

            .feedPost .posts-feed .buttons {
                width: 100%;
                flex-wrap: wrap;
            }

            .feedPost .posts-feed .buttons button {
                width: 110px;
            }

            .feedPost .posts-feed .feed-post .reactions {
                width: 100%;

            }
            .feedPost .posts-feed .feed-post .reactions button {
                font-size: 14px;
                margin: 2px 3px;
            }

            .feedPost .posts-feed .feed-post .reactions button svg {
                margin-right: 2px;
            }

            .feedPost .posts-feed .feed-post .post-data-media .image{
                width: 350px;
                height: 350px;
            }
            .feedPost .posts-feed .feed-post .post-data-media .image-video{
                width: 350px;
                height: 350px;
            }
            
            .feedPost .posts-feed .feed-post .post-data-media .image img{
                width: 350px;
                height: 350px;
             }
            
            .feedPost .posts-feed .feed-post .post-data-media .image .mark{
                width: 350px;
                height: 350px;
    
            }
              
            .feedPost .posts-feed .feed-post .post-data-media .image-video .mark{
                width: 350px;
                height: 350px;
    
            }
              

                @media(max-width: 450px) {
                    .feedPost .posts-feed .feed-post .post-data-media .image{
                        width: 300px;
                        height: 300px;
                    }
                    .feedPost .posts-feed .feed-post .post-data-media .image-video{
                        width: 300px;
                        height: 300px;
                    }
                    
                    .feedPost .posts-feed .feed-post .post-data-media .image img{
                        width: 300px;
                        height: 300px;
                     }
                    
                    .feedPost .posts-feed .feed-post .post-data-media .image .mark{
                        width: 300px;
                        height: 300px;
            
                    }
                    .feedPost .posts-feed .feed-post .post-data-media .image-video .mark{
                        width: 300px;
                        height: 300px;
            
                    }
                      
               

            @media (max-width: 400px) {
                .feedPost {
                    width: 100%;
                    margin-left: 3px;
                }
    
                .feedPost .posts-feed .feed-post .reactions {
                    width: 95%;
                    margin-left: -22px;
                }
                .feedPost .posts-feed .feed-post .reactions button {
                    font-size: 14px;
                    margin: 2px 5px;
                }

                .feedPost .posts-feed .feed-post .post-data-media {
                    width: 85%;
                }

                @media (max-width: 380px) {
                    .feedPost {
                        width: 100%;
                        margin-left: 3px;
                    }
        
                    .feedPost .posts-feed .feed-post .reactions {
                        width: 100%;
                        margin-left: 0px;
                    }
                    .feedPost .posts-feed .feed-post .reactions button {
                        font-size: 12px;
                        margin: 2px 5px;
                    }
    
                    .feedPost .posts-feed .feed-post .post-data-media {
                        width: 85%;
                    }

                    .feedPost .posts-feed .feed-post .post-data-media .image{
                        width: 250px;
                        height: 250px;
                    }
                    
                    .feedPost .posts-feed .feed-post .post-data-media .image-video{
                        width: 250px;
                        height: 250px;
                    }
                    
                    .feedPost .posts-feed .feed-post .post-data-media .image img{
                        width: 250px;
                        height: 250px;
                     }
                    
                    .feedPost .posts-feed .feed-post .post-data-media .image .mark{
                        width: 250px;
                        height: 250px;
            
                    }
                    .feedPost .posts-feed .feed-post .post-data-media .image-video .mark{
                        width: 250px;
                        height: 250px;
            
                    }      
    
                }
            }
                
        }
     }
    }
}
   }
}
}


