
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.settings .buttons {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.settings .buttons button {
    background-color: var(--Background2);
    color: var(--Primary);
    padding: 7px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid var(--Primary);
    font-weight: 500;
}

.settings .buttons .selected {
    background-color: var(--Primary);
    color: var(--White);

}

.settings .information {
    color: var(--Primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings .information form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    padding: 20px 0;
}



.settings .information form .label-avatar{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin: 5px 0;
}

.settings .information form .label-avatar input {
    display: none;
}

.settings .information form .label-avatar span {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all .5s;
}

.settings .information form .label-avatar span:hover{
    opacity: 1;
    transform: scale(1.4);
}

.settings .information form .label-avatar img{
    margin-bottom: 1em;
    border-radius: 50px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}


.settings .information form .label-cover{
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin: 10px 0;
}

.settings .information form .label-cover input {
    display: none;
}

.settings .information form .label-cover span {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all .5s;
}

.settings .information form .label-cover span:hover{
    opacity: 1;
    transform: scale(1.4);
}

.settings .information form .label-cover img{
    margin-bottom: 1em;
    border-radius: 6px;
    object-fit: cover;
    height:200px;
    width: 850px;
}

.settings .information form .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}


.settings .information form .data select {
    background-color: var(--Background2);
    color: var(--Primary);
    border: none;
    border-bottom: 1px solid var(--Primary);
    padding: 5px 8px;
}

.settings .information .data input {
    background-color: var(--Background2);
    color: var(--Primary);
    border: none;
    border-bottom: 1px solid var(--Primary);
    padding: 5px 8px;
}

.settings .information .data input::placeholder {
    color: var(--Primary);
}


.settings .information form input {
    background-color: var(--Background2);
    color: var(--Primary);
    border: none;
    border-bottom: 1px solid var(--Primary);
    padding: 5px 8px;
}

.settings .information form button {
    background-color: var(--Primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--White);
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.settings .information form .SearchCep {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.settings .information form .SearchCep input {
    background-color: var(--Background2);
    color: var(--Primary);
    border: none;
    border-bottom: 1px solid var(--Primary);
    padding: 5px 8px;
}

.settings .information form .SearchCep button {
    background-color: var(--Primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--White);
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    margin-left: 10px;
    font-size: 14px;
}