.feedComment {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.feedComment .bloco {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedComment .bloco .buttons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.feedComment .bloco .buttons button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: red;
    padding:10px;
    border-radius: 6px;
    margin: 10px 0;
    border:none;
    color: var(--white);
    font-weight: 700;
}
.feedComment .bloco .commentUnic {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--Background);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding:10px;
    border-radius: 6px;
    margin: 5px 0;
}

.feedComment .bloco .commentUnic h5 {
    color: var(--Black);
}
.feedComment .bloco .commentUnic .user {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.feedComment .bloco .commentUnic .user .image{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}
.feedComment .bloco .commentUnic .user img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.feedComment .bloco .commentUnic .user h4 {
    font-weight:500 ;
    margin-left: 5px;
}
.feedComment .bloco .commentUnic h5 {
    font-weight:900 ;
    margin-left: 30px;
}

@media (max-width: 600px) {
    .feedComment {
        width: 100%;
    }

    .feedComment .bloco {
        width: 100%;
    }
    .feedComment .bloco .buttons {
        width: 100%;
    }
    .feedComment .bloco .reply {
        width: 100%;
    }
}


