.content-toolbar {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;    
    background-color: var(--Background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-toolbar .ToolBarLeftSlim {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
}

.content-toolbar .ToolBarLeftSlim .profile {
    width: 80px;
    height: 80px;  
}

.content-toolbar .ToolBarLeftSlim .profile button {
    border: none;
}

.content-toolbar .ToolBarLeftSlim .profile img{
    width: 80px;
    height: 80px; 
    object-fit: cover;
}

.content-toolbar .ToolBarLeftSlim .tools {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-decoration: none;
}

.content-toolbar .ToolBarLeftSlim .tools a {

    text-decoration: none;
}

.content-toolbar .ToolBarLeftSlim .tools .toolIcon a {
    text-decoration: none;

}

.content-toolbar .ToolBarLeftSlim .tools .toolIcon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 5px 0;
    padding: 3px 0;
    color: var(--Primary);
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    border: none;
}
.content-toolbar .ToolBarLeftSlim .tools .toolIcon:hover {
    background-color: var(--Primary);
    color: var(--Background);
}


.content-toolbar .ToolBarLeftSlim .tools .toolIcon p:hover {
    color: var(--Background);
}

.content-toolbar .ToolBarLeftSlim .tools .toolIcon svg:hover {
    color: var(--Background);
}

@media (max-width: 900px) {
    .content-toolbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: row;    
    background-color: var(--Background);
    position: fixed;
    margin-top: 90vh;
    bottom: 0;
    z-index: 0;
    overflow-x: scroll;
    }

   .content-toolbar::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }
      
     .content-toolbar::-webkit-scrollbar-track {
        background: var(--Background2);        /* color of the tracking area */
      }
      
     .content-toolbar::-webkit-scrollbar-thumb {
        background-color: var(--Background-man);    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid var(--Background2);  /* creates padding around scroll thumb */
      }
    

    .content-toolbar .ToolBarLeftSlim {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-direction: row;
    }

    .content-toolbar .ToolBarLeftSlim .profile {
        display: none;
    }

    .content-toolbar .ToolBarLeftSlim .tools {
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        text-decoration: none;
    }

    .content-toolbar .ToolBarLeftSlim .tools .toolIcon{
        margin: 0 5px;
    }
  }