.dataUserProfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    color: var(--White);
}

.dataUserProfile .image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.dataUserProfile .image img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.dataUserProfile .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.dataUserProfile .text h4 {
    font-weight: 900;
    color: var(--Primary);
}